@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background-color: white;
}

/*************** messages *****************/

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

 .field_with_errors {
  @extend .has-error;
}

/***************** nav_bar *****************/

/* Red */
$bgDefault      : #D96459;
$bgHighlight    : #8C4646;
$colDefault     : #F2E394;
$colHover       : #F2AE72; 
/* Green * /
$bgDefault      : #2ecc71;
$bgHighlight    : #27ae60;
$colDefault     : #ecf0f1;
$colHover       : #d1ffed; /*/
/* Purple * /
$bgDefault      : #9b59b6;
$bgHighlight    : #8e44ad;
$colDefault     : #ecf0f1;
$colHover       : #ecdbff; /*/
/* Orange * /
$bgDefault      : #e67e22;
$bgHighlight    : #d35400;
$colDefault     : #ecf0f1;
$colHover       : #ffe6d1; /*/

.navbar-default {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    .navbar-brand {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover; }}
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover, &:focus {
                    color: $colHover;   }}}
        .active {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight; }}
        .open {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight;
                .caret {
                    border-top-color: $colHover;
                    border-bottom-color: $colHover; }}}
        > .dropdown {
            > a {
                .caret {
                    border-top-color: $colDefault;
                    border-bottom-color: $colDefault; }
                &:hover, &:focus {
                    .caret {
                        border-top-color: $colHover;
                        border-bottom-color: $colHover; }}}}}
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight; }
        .icon-bar {
            background-color: $colDefault; }}}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover;
            background-color: $bgHighlight; }}
}


.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

/**************** room *******************/

.room {
    padding: 20px;
    text-align: center;
}

.room_icon {
    font-size: 50px;
    text-decoration: none;
    color: #D96459;
    &:hover {
        color: #8C4646;
        text-decoration: none;
    }
}

#new_room_button {
    margin-top: 10px;
}

.delete-room-link, .glyphicon-remove-sign {
    font-size: 15px;
    color: #D96459;
    &:hover {
        color: red;
        text-decoration: none;
    }
    &:link {
        text-decoration: none;
    }

}

/*********************************/

.loading-gif {
    align: middle;
}

.pagination-sm {
    text-align: center;
}

.pagination li {
    a {
        color: #F2AE72;
    }
    .active {
        a {
            background-color: #fff;
        }
    }
}

.pagination a:active { border: 1px solid #000099; color: #000; }  