<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "alert alert-#{key}") do %>
    <%= link_to "×", "#", data: { dismiss: "alert" }, class: "close" %>
    <ul>
      <li> 
        <%= value %>
      </li>
    </ul>
  <% end %>
<% end %>